* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/plane-backround.svg");
  background-size: fit;
  background-repeat: none;
  font-family:
    Outfit,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #3a5c43;
}

.heading {
  text-align: center;
  margin-top: 100px;
  font-size: 100pt;
  text-shadow: 5px 5px 5px rgb(200, 200, 200);
}

.intro-paragraph {
  text-align: center;
  font-size: 24pt;
  margin-top: 28px;
  color: #aa8d7a;
}

.intro-start {
  text-align: center;
  font-size: 24pt;
  margin-top: 320px;
  color: #aa8d7a;
  background-color: white;
  border-radius: 20px;
}
.header {
  padding: 12px 20px;
  background-color: #3a5c43;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 12pt;
  padding: 16px 24px;
  border-radius: 20px;

}

.nav a:hover {
  background-color: white;
  color: #aa8d7a;;
  text-decoration: underline;
}