* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/plane-backround.svg");
  background-size: fit;
  background-repeat: none;
  font-family:
    Outfit,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: #3a5c43;
}

.heading {
  text-align: center;
  margin-top: 50px;
  font-size: 100pt;
  text-shadow: 5px 5px 5px rgb(200, 200, 200);
}

.intro-paragraph {
  text-align: center;
  font-size: 25pt;
  margin-top: 30px;
  color: #aa8d7a;
}

.intro-start {
  text-align: center;
  font-size: 25pt;
  margin-top: 400px;
  color: #aa8d7a;
  background-color: white;
  border-radius: 20px;
}
